.Main {
    width: 100%;
    min-height: 100vh;
    background-color: #666;
}
.h1 {
    padding-top: 1rem;
    margin-bottom: 1rem;
    margin-left: 10.5rem;
}
.Agregar {
    width: 15rem;
    margin-left: 10rem;
    background-color: #111;
    color: white;
}
.Titulo {
    margin-left: 10.5rem;
    width: 15rem;
}
.Descripcion {
    width: 22rem;
    margin-left: 2rem;
}
.Check {
    margin-left: 2rem;
}